name: CI Pipeline Basic

on:
  push:
    branches:
      - main
      - feature/*
      - "**"
  pull_request:
    branches:
      - main
      - "**"

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: worker
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: worker
        run: pytest || echo "No tests found"
